ApliRepararPCWebService-MySQL/xml-resources/web-service-references/WebPCService/wsdl/localhost_8080/WebServiceRepararPC-MySQLV.1/WebPCService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Service.RepararPC.Burgos.Cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service.RepararPC.Burgos.Cl/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="insertarPC" type="tns:insertarPC"/>

<xs:element name="insertarPCResponse" type="tns:insertarPCResponse"/>

<xs:element name="listaPCAll" type="tns:listaPCAll"/>

<xs:element name="listaPCAllResponse" type="tns:listaPCAllResponse"/>

<xs:complexType name="listaPCAll">
<xs:sequence>
<xs:element name="intDesde" type="xs:long"/>
<xs:element name="intCuantos" type="xs:long"/>
<xs:element name="strBusqueda" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaPCAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:clComputador" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clComputador">
<xs:sequence>
<xs:element name="arquitectura" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="hdd" type="xs:string" minOccurs="0"/>
<xs:element name="idCliente" type="xs:int"/>
<xs:element name="idLogin" type="xs:int"/>
<xs:element name="idPC" type="xs:int"/>
<xs:element name="marca" type="xs:string" minOccurs="0"/>
<xs:element name="modelo" type="xs:string" minOccurs="0"/>
<xs:element name="numSerie" type="xs:string" minOccurs="0"/>
<xs:element name="ram" type="xs:string" minOccurs="0"/>
<xs:element name="sistemaOpe" type="xs:string" minOccurs="0"/>
<xs:element name="tipoRepa" type="tns:tipoReparacion" minOccurs="0"/>
<xs:element name="valor" type="xs:int"/>
<xs:element name="version" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarPC">
<xs:sequence>
<xs:element name="marca" type="xs:string" minOccurs="0"/>
<xs:element name="modelo" type="xs:string" minOccurs="0"/>
<xs:element name="numSerie" type="xs:string" minOccurs="0"/>
<xs:element name="ram" type="xs:string" minOccurs="0"/>
<xs:element name="hdd" type="xs:string" minOccurs="0"/>
<xs:element name="SO" type="xs:string" minOccurs="0"/>
<xs:element name="arquitectura" type="xs:string" minOccurs="0"/>
<xs:element name="version" type="xs:string" minOccurs="0"/>
<xs:element name="tipoRaparacion" type="tns:tipoReparacion" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:int"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idCliente" type="xs:int"/>
<xs:element name="idLogin" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarPCResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="tipoReparacion">
<xs:restriction base="xs:string">
<xs:enumeration value="Seleccionar"/>
<xs:enumeration value="Formateo"/>
<xs:enumeration value="Limpieza"/>
<xs:enumeration value="Instalacion"/>
<xs:enumeration value="Reparacion"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>