ApliRepararPCWebService-MySQL/xml-resources/web-service-references/WebPCService/wsdl/localhost_8080/WebServiceRepararPC-MySQLV.1/WebPCService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service.RepararPC.Burgos.Cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service.RepararPC.Burgos.Cl/" name="WebPCService">
<types>
<xsd:schema>
<xsd:import namespace="http://Service.RepararPC.Burgos.Cl/" schemaLocation="http://localhost:8080/WebServiceRepararPC-MySQLV.1/WebPCService?xsd=1"/>
</xsd:schema>
</types>
<message name="insertarPC">
<part name="parameters" element="tns:insertarPC"/>
</message>
<message name="insertarPCResponse">
<part name="parameters" element="tns:insertarPCResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="listaPCAll">
<part name="parameters" element="tns:listaPCAll"/>
</message>
<message name="listaPCAllResponse">
<part name="parameters" element="tns:listaPCAllResponse"/>
</message>
<portType name="WebPCService">
<operation name="insertarPC">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebPCService/insertarPCRequest" message="tns:insertarPC"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebPCService/insertarPCResponse" message="tns:insertarPCResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.RepararPC.Burgos.Cl/WebPCService/insertarPC/Fault/Exception"/>
</operation>
<operation name="listaPCAll">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebPCService/listaPCAllRequest" message="tns:listaPCAll"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebPCService/listaPCAllResponse" message="tns:listaPCAllResponse"/>
</operation>
</portType>
<binding name="WebPCServicePortBinding" type="tns:WebPCService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertarPC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listaPCAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebPCService">
<port name="WebPCServicePort" binding="tns:WebPCServicePortBinding">
<soap:address location="http://localhost:8080/WebServiceRepararPC-MySQLV.1/WebPCService"/>
</port>
</service>
</definitions>