ApliRepararPCWebService-MySQL/xml-resources/web-service-references/WebClienteService/wsdl/localhost_8080/WebServiceRepararPC-MySQLV.1/WebClienteService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service.RepararPC.Burgos.Cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service.RepararPC.Burgos.Cl/" name="WebClienteService">
<types>
<xsd:schema>
<xsd:import namespace="http://Service.RepararPC.Burgos.Cl/" schemaLocation="http://localhost:8080/WebServiceRepararPC-MySQLV.1/WebClienteService?xsd=1"/>
</xsd:schema>
</types>
<message name="leerClienteIdLogin">
<part name="parameters" element="tns:leerClienteIdLogin"/>
</message>
<message name="leerClienteIdLoginResponse">
<part name="parameters" element="tns:leerClienteIdLoginResponse"/>
</message>
<message name="actualizarCliente">
<part name="parameters" element="tns:actualizarCliente"/>
</message>
<message name="actualizarClienteResponse">
<part name="parameters" element="tns:actualizarClienteResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="buscarRutClienteT">
<part name="parameters" element="tns:buscarRutClienteT"/>
</message>
<message name="buscarRutClienteTResponse">
<part name="parameters" element="tns:buscarRutClienteTResponse"/>
</message>
<message name="listarClienteRut">
<part name="parameters" element="tns:listarClienteRut"/>
</message>
<message name="listarClienteRutResponse">
<part name="parameters" element="tns:listarClienteRutResponse"/>
</message>
<message name="buscarRutCliente">
<part name="parameters" element="tns:buscarRutCliente"/>
</message>
<message name="buscarRutClienteResponse">
<part name="parameters" element="tns:buscarRutClienteResponse"/>
</message>
<message name="leerClienteId">
<part name="parameters" element="tns:leerClienteId"/>
</message>
<message name="leerClienteIdResponse">
<part name="parameters" element="tns:leerClienteIdResponse"/>
</message>
<message name="insertarCliente">
<part name="parameters" element="tns:insertarCliente"/>
</message>
<message name="insertarClienteResponse">
<part name="parameters" element="tns:insertarClienteResponse"/>
</message>
<message name="eliminarCliente">
<part name="parameters" element="tns:eliminarCliente"/>
</message>
<message name="eliminarClienteResponse">
<part name="parameters" element="tns:eliminarClienteResponse"/>
</message>
<message name="listaClienteAll">
<part name="parameters" element="tns:listaClienteAll"/>
</message>
<message name="listaClienteAllResponse">
<part name="parameters" element="tns:listaClienteAllResponse"/>
</message>
<portType name="WebClienteService">
<operation name="leerClienteIdLogin">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/leerClienteIdLoginRequest" message="tns:leerClienteIdLogin"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/leerClienteIdLoginResponse" message="tns:leerClienteIdLoginResponse"/>
</operation>
<operation name="actualizarCliente">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/actualizarClienteRequest" message="tns:actualizarCliente"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/actualizarClienteResponse" message="tns:actualizarClienteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/actualizarCliente/Fault/Exception"/>
</operation>
<operation name="buscarRutClienteT">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/buscarRutClienteTRequest" message="tns:buscarRutClienteT"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/buscarRutClienteTResponse" message="tns:buscarRutClienteTResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/buscarRutClienteT/Fault/Exception"/>
</operation>
<operation name="listarClienteRut">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/listarClienteRutRequest" message="tns:listarClienteRut"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/listarClienteRutResponse" message="tns:listarClienteRutResponse"/>
</operation>
<operation name="buscarRutCliente">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/buscarRutClienteRequest" message="tns:buscarRutCliente"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/buscarRutClienteResponse" message="tns:buscarRutClienteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/buscarRutCliente/Fault/Exception"/>
</operation>
<operation name="leerClienteId">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/leerClienteIdRequest" message="tns:leerClienteId"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/leerClienteIdResponse" message="tns:leerClienteIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/leerClienteId/Fault/Exception"/>
</operation>
<operation name="insertarCliente">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/insertarClienteRequest" message="tns:insertarCliente"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/insertarClienteResponse" message="tns:insertarClienteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/insertarCliente/Fault/Exception"/>
</operation>
<operation name="eliminarCliente">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/eliminarClienteRequest" message="tns:eliminarCliente"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/eliminarClienteResponse" message="tns:eliminarClienteResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/eliminarCliente/Fault/Exception"/>
</operation>
<operation name="listaClienteAll">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/listaClienteAllRequest" message="tns:listaClienteAll"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebClienteService/listaClienteAllResponse" message="tns:listaClienteAllResponse"/>
</operation>
</portType>
<binding name="WebClienteServicePortBinding" type="tns:WebClienteService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="leerClienteIdLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="buscarRutClienteT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listarClienteRut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarRutCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="leerClienteId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="insertarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="eliminarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listaClienteAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebClienteService">
<port name="WebClienteServicePort" binding="tns:WebClienteServicePortBinding">
<soap:address location="http://localhost:8080/WebServiceRepararPC-MySQLV.1/WebClienteService"/>
</port>
</service>
</definitions>