ApliRepararPCWebService-MySQL/xml-resources/web-service-references/WebClienteService/wsdl/localhost_8080/WebServiceRepararPC-MySQLV.1/WebClienteService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Service.RepararPC.Burgos.Cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service.RepararPC.Burgos.Cl/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="actualizarCliente" type="tns:actualizarCliente"/>

<xs:element name="actualizarClienteResponse" type="tns:actualizarClienteResponse"/>

<xs:element name="buscarRutCliente" type="tns:buscarRutCliente"/>

<xs:element name="buscarRutClienteResponse" type="tns:buscarRutClienteResponse"/>

<xs:element name="buscarRutClienteT" type="tns:buscarRutClienteT"/>

<xs:element name="buscarRutClienteTResponse" type="tns:buscarRutClienteTResponse"/>

<xs:element name="eliminarCliente" type="tns:eliminarCliente"/>

<xs:element name="eliminarClienteResponse" type="tns:eliminarClienteResponse"/>

<xs:element name="insertarCliente" type="tns:insertarCliente"/>

<xs:element name="insertarClienteResponse" type="tns:insertarClienteResponse"/>

<xs:element name="leerClienteId" type="tns:leerClienteId"/>

<xs:element name="leerClienteIdLogin" type="tns:leerClienteIdLogin"/>

<xs:element name="leerClienteIdLoginResponse" type="tns:leerClienteIdLoginResponse"/>

<xs:element name="leerClienteIdResponse" type="tns:leerClienteIdResponse"/>

<xs:element name="listaClienteAll" type="tns:listaClienteAll"/>

<xs:element name="listaClienteAllResponse" type="tns:listaClienteAllResponse"/>

<xs:element name="listarClienteRut" type="tns:listarClienteRut"/>

<xs:element name="listarClienteRutResponse" type="tns:listarClienteRutResponse"/>

<xs:complexType name="actualizarCliente">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="celular" type="xs:string" minOccurs="0"/>
<xs:element name="idLogin" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarRutCliente">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarRutClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:clCliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clCliente">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="celular" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="idLogin" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="leerClienteId">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="leerClienteIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarCliente">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="celular" type="xs:string" minOccurs="0"/>
<xs:element name="idLogin" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="leerClienteIdLogin">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="leerClienteIdLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:clCliente" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarRutClienteT">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarRutClienteTResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarClienteRut">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarClienteRutResponse">
<xs:sequence>
<xs:element name="return" type="tns:clCliente" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaClienteAll">
<xs:sequence>
<xs:element name="intDesde" type="xs:long"/>
<xs:element name="intCuantos" type="xs:long"/>
<xs:element name="strBusqueda" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaClienteAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:clCliente" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarCliente">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>