ApliRepararPCWebService-MySQL/xml-resources/web-service-references/WebLoginService/wsdl/localhost_8080/WebServiceRepararPC-MySQLV.1/WebLoginService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service.RepararPC.Burgos.Cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service.RepararPC.Burgos.Cl/" name="WebLoginService">
<types>
<xsd:schema>
<xsd:import namespace="http://Service.RepararPC.Burgos.Cl/" schemaLocation="http://localhost:8080/WebServiceRepararPC-MySQLV.1/WebLoginService?xsd=1"/>
</xsd:schema>
</types>
<message name="listaLoginAll">
<part name="parameters" element="tns:listaLoginAll"/>
</message>
<message name="listaLoginAllResponse">
<part name="parameters" element="tns:listaLoginAllResponse"/>
</message>
<message name="buscarRutLogin">
<part name="parameters" element="tns:buscarRutLogin"/>
</message>
<message name="buscarRutLoginResponse">
<part name="parameters" element="tns:buscarRutLoginResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="insertarLogin">
<part name="parameters" element="tns:insertarLogin"/>
</message>
<message name="insertarLoginResponse">
<part name="parameters" element="tns:insertarLoginResponse"/>
</message>
<message name="actualizarLogin">
<part name="parameters" element="tns:actualizarLogin"/>
</message>
<message name="actualizarLoginResponse">
<part name="parameters" element="tns:actualizarLoginResponse"/>
</message>
<message name="eliminarLogin">
<part name="parameters" element="tns:eliminarLogin"/>
</message>
<message name="eliminarLoginResponse">
<part name="parameters" element="tns:eliminarLoginResponse"/>
</message>
<message name="validarLogin">
<part name="parameters" element="tns:validarLogin"/>
</message>
<message name="validarLoginResponse">
<part name="parameters" element="tns:validarLoginResponse"/>
</message>
<message name="buscarIdLogin">
<part name="parameters" element="tns:buscarIdLogin"/>
</message>
<message name="buscarIdLoginResponse">
<part name="parameters" element="tns:buscarIdLoginResponse"/>
</message>
<message name="buscarRutLoginR">
<part name="parameters" element="tns:buscarRutLoginR"/>
</message>
<message name="buscarRutLoginRResponse">
<part name="parameters" element="tns:buscarRutLoginRResponse"/>
</message>
<portType name="WebLoginService">
<operation name="listaLoginAll">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/listaLoginAllRequest" message="tns:listaLoginAll"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/listaLoginAllResponse" message="tns:listaLoginAllResponse"/>
</operation>
<operation name="buscarRutLogin">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/buscarRutLoginRequest" message="tns:buscarRutLogin"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/buscarRutLoginResponse" message="tns:buscarRutLoginResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/buscarRutLogin/Fault/Exception"/>
</operation>
<operation name="insertarLogin">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/insertarLoginRequest" message="tns:insertarLogin"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/insertarLoginResponse" message="tns:insertarLoginResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/insertarLogin/Fault/Exception"/>
</operation>
<operation name="actualizarLogin">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/actualizarLoginRequest" message="tns:actualizarLogin"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/actualizarLoginResponse" message="tns:actualizarLoginResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/actualizarLogin/Fault/Exception"/>
</operation>
<operation name="eliminarLogin">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/eliminarLoginRequest" message="tns:eliminarLogin"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/eliminarLoginResponse" message="tns:eliminarLoginResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/eliminarLogin/Fault/Exception"/>
</operation>
<operation name="validarLogin">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/validarLoginRequest" message="tns:validarLogin"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/validarLoginResponse" message="tns:validarLoginResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/validarLogin/Fault/Exception"/>
</operation>
<operation name="buscarIdLogin">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/buscarIdLoginRequest" message="tns:buscarIdLogin"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/buscarIdLoginResponse" message="tns:buscarIdLoginResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/buscarIdLogin/Fault/Exception"/>
</operation>
<operation name="buscarRutLoginR">
<input wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/buscarRutLoginRRequest" message="tns:buscarRutLoginR"/>
<output wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/buscarRutLoginRResponse" message="tns:buscarRutLoginRResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Service.RepararPC.Burgos.Cl/WebLoginService/buscarRutLoginR/Fault/Exception"/>
</operation>
</portType>
<binding name="WebLoginServicePortBinding" type="tns:WebLoginService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listaLoginAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarRutLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="insertarLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="actualizarLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="eliminarLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="validarLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="buscarIdLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="buscarRutLoginR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="WebLoginService">
<port name="WebLoginServicePort" binding="tns:WebLoginServicePortBinding">
<soap:address location="http://localhost:8080/WebServiceRepararPC-MySQLV.1/WebLoginService"/>
</port>
</service>
</definitions>